<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<phpunit bootstrap="bootstrap.php" colors="true" verbose="true" backupGlobals="false">
    <testsuites>
        <testsuite name="ArangoDB-PHP-Core">
            <directory>standard</directory>
        </testsuite>
        <testsuite name="ArangoDB-PHP-Core-Performance">
            <directory>performance</directory>
        </testsuite>
    </testsuites>
</phpunit>

